In [91]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [92]:
finaltes = pd.read_csv('finaltes.csv')
finalrbs = pd.read_csv('finalrbs.csv')
finalwrs = pd.read_csv('finalwrs.csv')
finalqbs = pd.read_csv('finalqbs.csv')

In [93]:
teamstats = pd.read_csv('teamstats.csv')

In [94]:
teamstats

     Unnamed: 0          Team  TeamPPG  Year  teamOPPG  TeamYPG  TeamPassPct
0             0  Indianapolis     31.9  2004      21.9    404.4        56.97
1             1   Kansas City     30.2  2004      27.2    418.3        54.45
2             2   New England     27.5  2004      16.4    352.5        49.02
3             3   LA Chargers     27.2  2004      19.6    350.6        47.90
4             4     Green Bay     25.9  2004      24.2    391.4        57.96
..          ...           ...      ...   ...       ...      ...          ...
603         603     Tennessee     17.5  2022      21.1    296.8        50.91
604         604       NY Jets     17.4  2022      18.6    318.2        62.29
605         605       Houston     17.0  2022      24.7    283.5        60.79
606         606  Indianapolis     17.0  2022      25.1    311.6        60.20
607         607        Denver     16.9  2022      21.1    325.1        58.81

[608 rows x 7 columns]

In [95]:
teamstats['Year'] = teamstats['Year'] + 1

In [96]:
teamdict = dict({'CAR': 'Carolina',
                'ARI': 'Arizona',
                'WAS': 'Washington',
                'CIN': 'Cincinnati',
                'TAM': 'Tampa Bay',
                'STL': 'LA Rams',
                'MIA': 'Miami',
                'IND': 'Indianapolis',
                'PIT': 'Pittsburgh',
                'NYG': 'NY Giants',
                'DAL': 'Dallas',
                'GNB': 'Green Bay',
                'OAK': 'Las Vegas',
                'DEN': 'Denver',
                'SDG': 'LA Chargers',
                'KAN': 'Kansas City',
                'JAX': 'Jacksonville',
                'NOR': 'New Orleans',
                'NWE': 'New England',
                'SEA': 'Seattle',
                'BAL': 'Baltimore',
                'CLE': 'Cleveland',
                'BUF': 'Buffalo',
                'DET': 'Detroit',
                'NYJ': 'NY Jets',
                'PHI': 'Philadelphia',
                'SFO': 'San Francisco',
                'CHI': 'Chicago',
                'TEN': 'Tennessee',
                'MIN': 'Minnesota',
                'HOU': 'Houston',
                'ATL': 'Atlanta',
                'LAR': 'LA Rams',
                'LAC': 'LA Chargers',
                'LVR': 'Las Vegas'})

In [97]:
finaltes['Tm'] = finaltes['Tm'].replace(teamdict)
finalwrs['Tm'] = finalwrs['Tm'].replace(teamdict)
finalrbs['Tm'] = finalrbs['Tm'].replace(teamdict)
finalqbs['Tm'] = finalqbs['Tm'].replace(teamdict)

In [98]:
finalwrs[finalwrs['Tm'] == '3TM']

,Unnamed: 0,First,Last,Year,Tm,Pos,Age,Player,Targets,Receptions,RecYards,RecTD,Ctch%,RushAtt,RushYards,RushTD,Fumbles,Experience,FantasyPoints
1163,1163,Randy,Moss,2010,3TM,WR,33.0,Randy Moss,133.000000,78.333333,1178.666667,12.333333,58.8,0.666667,0.0,0.0,2.333333,13.0,97.3
1342,1342,Leonard,Hankerson,2015,3TM,WR,27.0,Leonard Hankerson,41.833333,25.000000,312.500000,2.500000,50.0,0.000000,0.0,0.0,0.000000,5.0,76.7

In [99]:
teamstats = teamstats.rename(columns = {'Team': 'Tm'})

In [100]:
teamstats.columns

Index(['Unnamed: 0', 'Tm', 'TeamPPG', 'Year', 'teamOPPG', 'TeamYPG',
       'TeamPassPct'],
      dtype='object')

In [101]:
finalwrs = pd.merge(finalwrs, teamstats[['Tm', 'TeamPPG', 'Year', 'teamOPPG', 'TeamYPG',
       'TeamPassPct']], on = ['Tm', 'Year'], how = 'left')
finalrbs = pd.merge(finalrbs, teamstats[['Tm', 'TeamPPG', 'Year', 'teamOPPG', 'TeamYPG',
       'TeamPassPct']], on = ['Tm', 'Year'], how = 'left')
finalqbs = pd.merge(finalqbs, teamstats[['Tm', 'TeamPPG', 'Year', 'teamOPPG', 'TeamYPG',
       'TeamPassPct']], on = ['Tm', 'Year'], how = 'left')
finaltes = pd.merge(finaltes, teamstats[['Tm', 'TeamPPG', 'Year', 'teamOPPG', 'TeamYPG',
       'TeamPassPct']], on = ['Tm', 'Year'], how = 'left')

In [102]:
finalwrs.to_csv('finalwrs_wteams.csv')
finalrbs.to_csv('finalrbs_wteams.csv')
finalqbs.to_csv('finalqbs_wteams.csv')
finaltes.to_csv('finaltes_wteams.csv')